absl-py==0.9.0
astor==0.8.1
backcall==0.1.0
Cython==0.29.15
decorator==4.4.1
gast==0.3.3
grpcio==1.27.1
h5py==2.10.0
imutils==0.5.3
ipython==7.12.0
ipython-genutils==0.2.0
jedi==0.16.0
jetcam==0.0.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2
mock==4.0.1
numpy==1.18.1
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.3
protobuf==3.11.3
ptyprocess==0.6.0
Pygments==2.5.2
PyYAML==5.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==2.6.4
termcolor==1.1.0
traitlets==4.3.3
wcwidth==0.1.8
Werkzeug==1.0.0
